{
  "log": {
    "_recordingName": "fetch-groups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "cfc538a479357f650c7d4c93f38e9fd3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e"
        },
        "response": {
          "content": {
            "mimeType": "application/hal+json;charset=UTF-8",
            "size": 3650,
            "text": "{\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e\"\n    },\n    \"organization\" : {\n      \"href\" : \"https://api.pingone.eu/v1/organizations/8c779f37-60dc-47da-bc90-a484a21393be\"\n    },\n    \"license\" : {\n      \"href\" : \"https://api.pingone.eu/v1/organizations/8c779f37-60dc-47da-bc90-a484a21393be/licenses/f8d4c1cf-497f-4bc7-957a-190539910c67\"\n    },\n    \"populations\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/populations\"\n    },\n    \"users\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/users\"\n    },\n    \"applications\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/applications\"\n    },\n    \"activities\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/activities\"\n    },\n    \"branding\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/branding\"\n    },\n    \"resources\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/resources\"\n    },\n    \"passwordPolicies\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/passwordPolicies\"\n    },\n    \"userActivities\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/userActivities\"\n    },\n    \"signOnPolicies\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/signOnPolicies\"\n    },\n    \"keys\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/keys\"\n    },\n    \"templates\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/templates\"\n    },\n    \"notificationsSettings\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/notificationsSettings\"\n    },\n    \"schemas\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/schemas\"\n    },\n    \"gateways\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/gateways\"\n    },\n    \"capabilities\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/capabilities\"\n    },\n    \"activeIdentityCounts\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/activeIdentityCounts\"\n    },\n    \"propagation/plans\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/propagation/plans\"\n    },\n    \"propagation/stores\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/propagation/stores\"\n    },\n    \"propagation/revisions/id:latest\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/propagation/revisions/id:latest\"\n    },\n    \"billOfMaterials\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/billOfMaterials\"\n    }\n  },\n  \"id\" : \"d959e98c-40dd-4fb9-96b7-c53be9478c3e\",\n  \"name\" : \"Administrators\",\n  \"description\" : \"This is the administrator environment created when the organization was provisioned.\",\n  \"organization\" : {\n    \"id\" : \"8c779f37-60dc-47da-bc90-a484a21393be\"\n  },\n  \"type\" : \"PRODUCTION\",\n  \"region\" : \"EU\",\n  \"createdAt\" : \"2022-04-26T16:42:04.754Z\",\n  \"updatedAt\" : \"2022-04-26T16:42:04.844Z\",\n  \"license\" : {\n    \"id\" : \"f8d4c1cf-497f-4bc7-957a-190539910c67\"\n  }\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/hal+json;charset=UTF-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "8e449855-08fc-4283-8a04-dd286909313a"
            },
            {
              "name": "correlation-id",
              "value": "8e449855-08fc-4283-8a04-dd286909313a"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "RPd1OEMHFiAFS2A="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 212,
      },
      {
        "_id": "249f6b5a518b65ac74d02110c9dbcdcc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/groups?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/hal+json;charset=UTF-8",
            "size": 1495,
            "text": "{\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/groups?limit=100\"\n    }\n  },\n  \"_embedded\" : {\n    \"groups\" : [ {\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/groups/8ff68824-2449-4526-90d6-d9dde3660757\"\n        }\n      },\n      \"id\" : \"8ff68824-2449-4526-90d6-d9dde3660757\",\n      \"environment\" : {\n        \"id\" : \"d959e98c-40dd-4fb9-96b7-c53be9478c3e\"\n      },\n      \"name\" : \"example group\",\n      \"population\" : {\n        \"id\" : \"a495aeea-47e2-49f3-b321-320cc8ee3ba7\"\n      },\n      \"directMemberCounts\" : {\n        \"users\" : 1,\n        \"groups\" : 0\n      },\n      \"createdAt\" : \"2022-04-27T13:04:35.161Z\",\n      \"updatedAt\" : \"2022-04-27T13:18:13.394Z\",\n      \"checkSum\" : \"12784600656\"\n    }, {\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/groups/073209c4-2092-443d-813e-dd5d28c76601\"\n        }\n      },\n      \"id\" : \"073209c4-2092-443d-813e-dd5d28c76601\",\n      \"environment\" : {\n        \"id\" : \"d959e98c-40dd-4fb9-96b7-c53be9478c3e\"\n      },\n      \"name\" : \"example second group\",\n      \"directMemberCounts\" : {\n        \"users\" : 0,\n        \"groups\" : 1\n      },\n      \"createdAt\" : \"2022-04-27T13:18:03.721Z\",\n      \"updatedAt\" : \"2022-04-27T13:18:13.381Z\",\n      \"checkSum\" : \"8542647057\"\n    } ]\n  },\n  \"count\" : 2,\n  \"size\" : 2\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/hal+json;charset=UTF-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "c937b896-8962-4c34-a5d3-5b355c89e8d3"
            },
            {
              "name": "correlation-id",
              "value": "c937b896-8962-4c34-a5d3-5b355c89e8d3"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "RPd1QHjdFiAFUag="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 308,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
