{
  "log": {
    "_recordingName": "fetch-applications",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "cfc538a479357f650c7d4c93f38e9fd3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6"
        },
        "response": {
          "content": {
            "mimeType": "application/hal+json;charset=UTF-8",
            "size": 3650,
            "text": "{\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6\"\n    },\n    \"organization\" : {\n      \"href\" : \"https://api.pingone.eu/v1/organizations/7cb1f212-681e-4a3c-b3e1-95493b526fae\"\n    },\n    \"license\" : {\n      \"href\" : \"https://api.pingone.eu/v1/organizations/7cb1f212-681e-4a3c-b3e1-95493b526fae/licenses/6ce079e2-1983-4262-bf58-037e8af646c6\"\n    },\n    \"populations\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/populations\"\n    },\n    \"users\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/users\"\n    },\n    \"applications\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/applications\"\n    },\n    \"activities\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/activities\"\n    },\n    \"branding\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/branding\"\n    },\n    \"resources\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/resources\"\n    },\n    \"passwordPolicies\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/passwordPolicies\"\n    },\n    \"userActivities\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/userActivities\"\n    },\n    \"signOnPolicies\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/signOnPolicies\"\n    },\n    \"keys\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/keys\"\n    },\n    \"templates\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/templates\"\n    },\n    \"notificationsSettings\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/notificationsSettings\"\n    },\n    \"schemas\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/schemas\"\n    },\n    \"gateways\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/gateways\"\n    },\n    \"capabilities\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/capabilities\"\n    },\n    \"activeIdentityCounts\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/activeIdentityCounts\"\n    },\n    \"propagation/plans\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/propagation/plans\"\n    },\n    \"propagation/stores\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/propagation/stores\"\n    },\n    \"propagation/revisions/id:latest\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/propagation/revisions/id:latest\"\n    },\n    \"billOfMaterials\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/billOfMaterials\"\n    }\n  },\n  \"id\" : \"ebb93422-9819-4b88-a0d1-f0673f9e03d6\",\n  \"name\" : \"Administrators\",\n  \"description\" : \"This is the administrator environment created when the organization was provisioned.\",\n  \"organization\" : {\n    \"id\" : \"7cb1f212-681e-4a3c-b3e1-95493b526fae\"\n  },\n  \"type\" : \"PRODUCTION\",\n  \"region\" : \"EU\",\n  \"createdAt\" : \"2022-04-18T11:12:42.132Z\",\n  \"updatedAt\" : \"2022-04-18T11:12:42.207Z\",\n  \"license\" : {\n    \"id\" : \"6ce079e2-1983-4262-bf58-037e8af646c6\"\n  }\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/hal+json;charset=UTF-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "d92f7524-6fb3-4527-b164-d199a3c2d958"
            },
            {
              "name": "correlation-id",
              "value": "d92f7524-6fb3-4527-b164-d199a3c2d958"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "Q3SntFU9liAFR3Q="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1079,
      },
      {
        "_id": "249f6b5a518b65ac74d02110c9dbcdcc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/applications?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/hal+json;charset=UTF-8",
            "size": 7410,
            "text": "{\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/applications\"\n    }\n  },\n  \"_embedded\" : {\n    \"applications\" : [ {\n      \"_links\" : {\n        \"environment\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e\"\n        },\n        \"self\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/applications/2ae10cea-08b3-4554-b54d-4b26af8e8c88\"\n        }\n      },\n      \"environment\" : {\n        \"id\" : \"d959e98c-40dd-4fb9-96b7-c53be9478c3e\"\n      },\n      \"id\" : \"2ae10cea-08b3-4554-b54d-4b26af8e8c88\",\n      \"name\" : \"PingOne Admin Console\",\n      \"description\" : \"The admin console application which is used to manage this environment's configuration and identity data.\",\n      \"enabled\" : true,\n      \"type\" : \"PING_ONE_ADMIN_CONSOLE\",\n      \"accessControl\" : {\n        \"role\" : {\n          \"type\" : \"ADMIN_USERS_ONLY\"\n        }\n      },\n      \"icon\" : {\n        \"id\" : \"a3d073bc-3108-49ad-b96c-404bea59a1d0\",\n        \"href\" : \"https://assets.pingone.com/ux/ui-library/4.18.0/images/logo-pingidentity.png\"\n      },\n      \"protocol\" : \"OPENID_CONNECT\",\n      \"createdAt\" : \"2022-04-26T16:42:04.792Z\",\n      \"updatedAt\" : \"2022-04-26T16:42:04.792Z\",\n      \"pkceEnforcement\" : \"OPTIONAL\",\n      \"tokenEndpointAuthMethod\" : \"NONE\"\n    }, {\n      \"_links\" : {\n        \"grants\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/applications/be6a8ae6-8a88-4809-b422-bc0424b790fa/grants\"\n        },\n        \"environment\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e\"\n        },\n        \"self\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/applications/be6a8ae6-8a88-4809-b422-bc0424b790fa\"\n        [...]
