{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "cfc538a479357f650c7d4c93f38e9fd3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6"
        },
        "response": {
          "content": {
            "mimeType": "application/hal+json;charset=UTF-8",
            "size": 3650,
            "text": "{\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6\"\n    },\n    \"organization\" : {\n      \"href\" : \"https://api.pingone.eu/v1/organizations/7cb1f212-681e-4a3c-b3e1-95493b526fae\"\n    },\n    \"license\" : {\n      \"href\" : \"https://api.pingone.eu/v1/organizations/7cb1f212-681e-4a3c-b3e1-95493b526fae/licenses/6ce079e2-1983-4262-bf58-037e8af646c6\"\n    },\n    \"populations\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/populations\"\n    },\n    \"users\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/users\"\n    },\n    \"applications\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/applications\"\n    },\n    \"activities\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/activities\"\n    },\n    \"branding\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/branding\"\n    },\n    \"resources\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/resources\"\n    },\n    \"passwordPolicies\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/passwordPolicies\"\n    },\n    \"userActivities\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/userActivities\"\n    },\n    \"signOnPolicies\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/signOnPolicies\"\n    },\n    \"keys\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/keys\"\n    },\n    \"templates\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/templates\"\n    },\n    \"notificationsSettings\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/notificationsSettings\"\n    },\n    \"schemas\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/schemas\"\n    },\n    \"gateways\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/gateways\"\n    },\n    \"capabilities\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/capabilities\"\n    },\n    \"activeIdentityCounts\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/activeIdentityCounts\"\n    },\n    \"propagation/plans\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/propagation/plans\"\n    },\n    \"propagation/stores\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/propagation/stores\"\n    },\n    \"propagation/revisions/id:latest\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/propagation/revisions/id:latest\"\n    },\n    \"billOfMaterials\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/billOfMaterials\"\n    }\n  },\n  \"id\" : \"ebb93422-9819-4b88-a0d1-f0673f9e03d6\",\n  \"name\" : \"Administrators\",\n  \"description\" : \"This is the administrator environment created when the organization was provisioned.\",\n  \"organization\" : {\n    \"id\" : \"7cb1f212-681e-4a3c-b3e1-95493b526fae\"\n  },\n  \"type\" : \"PRODUCTION\",\n  \"region\" : \"EU\",\n  \"createdAt\" : \"2022-04-18T11:12:42.132Z\",\n  \"updatedAt\" : \"2022-04-18T11:12:42.207Z\",\n  \"license\" : {\n    \"id\" : \"6ce079e2-1983-4262-bf58-037e8af646c6\"\n  }\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/hal+json;charset=UTF-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "deb18942-50b7-4d26-8b68-e0da6ca090be"
            },
            {
              "name": "correlation-id",
              "value": "deb18942-50b7-4d26-8b68-e0da6ca090be"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "Q3SntEx7FiAFhKQ="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1154,
      },
      {
        "_id": "249f6b5a518b65ac74d02110c9dbcdcc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/users?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/hal+json;charset=UTF-8",
            "size": 2695,
            "text": "{\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/users?limit=100\"\n    }\n  },\n  \"_embedded\" : {\n    \"users\" : [ {\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/users/57de9478-8f63-4383-ab62-4e086c741dff\"\n        },\n        \"password\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/users/57de9478-8f63-4383-ab62-4e086c741dff/password\"\n        },\n        \"password.set\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/users/57de9478-8f63-4383-ab62-4e086c741dff/password\"\n        },\n        \"password.reset\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/users/57de9478-8f63-4383-ab62-4e086c741dff/password\"\n        },\n        \"password.check\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/users/57de9478-8f63-4383-ab62-4e086c741dff/password\"\n        },\n        \"password.recover\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/users/57de9478-8f63-4383-ab62-4e086c741dff/password\"\n        },\n        \"account.sendVerificationCode\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/users/57de9478-8f63-4383-ab62-4e086c741dff\"\n        },\n        \"linkedAccounts\" : {\n          \"href\" : \"https://api.pingone.eu/v1/environments/d959e98c-40dd-4fb9-96b7-c53be9478c3e/users/57de9478-8f63-4383-ab62-4e086c741dff/linkedAccounts\"\n        }\n      },\n      \"id\" : \"57de9478-8f63-4383-ab62-4e086c741dff\",\n      \"environment\" : {\n        \"id\" : \"d959e98c-40dd-4fb9-96b7-c53be9478c3e\"\n      },\n      \"account\" : {\n        \"canAuthenticate\" : true,\n        \"status\" : \"OK\"\n      },\n      \"createdAt\" : \"2022-04-26T16:42:05.051Z\",\n      \"email\" : \"stefan.virag@contractor.jupiterone.com\",\n      \"enabled\" : true,\n      \"identityProvider\" : {\n        \"type\" : \"PING_ONE\"\n      },\n      \"lastSignOn\" : {\n        \"at\" : \"2022-04-27T12:24:40.823Z\",\n        \"remoteIp\" : \"188.2.219.35\"\n      },\n      \"lifecycle\" : {\n        \"status\" : \"ACCOUNT_OK\"\n      },\n      \"mfaEnabled\" : false,\n      \"name\" : {\n        \"given\" : \"Stefan\",\n        \"family\" : \"Virag\"\n      },\n      \"population\" : {\n        \"id\" : \"a495aeea-47e2-49f3-b321-320cc8ee3ba7\"\n      },\n      \"updatedAt\" : \"2022-04-27T13:04:46.704Z\",\n      \"username\" : \"stefan.virag@contractor.jupiterone.com\",\n      \"verifyStatus\" : \"NOT_INITIATED\"\n    } ]\n  },\n  \"count\" : 1,\n  \"size\" : 1\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/hal+json;charset=UTF-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "ce5ad329-02a9-4fd5-a067-8979ad51eef1"
            },
            {
              "name": "correlation-id",
              "value": "ce5ad329-02a9-4fd5-a067-8979ad51eef1"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "RPdPQEcqFiAFj4A="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 285,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
