{
  "log": {
    "_recordingName": "fetch-account",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "cfc538a479357f650c7d4c93f38e9fd3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6"
        },
        "response": {
          "content": {
            "mimeType": "application/hal+json;charset=UTF-8",
            "size": 3650,
            "text": "{\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6\"\n    },\n    \"organization\" : {\n      \"href\" : \"https://api.pingone.eu/v1/organizations/7cb1f212-681e-4a3c-b3e1-95493b526fae\"\n    },\n    \"license\" : {\n      \"href\" : \"https://api.pingone.eu/v1/organizations/7cb1f212-681e-4a3c-b3e1-95493b526fae/licenses/6ce079e2-1983-4262-bf58-037e8af646c6\"\n    },\n    \"populations\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/populations\"\n    },\n    \"users\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/users\"\n    },\n    \"applications\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/applications\"\n    },\n    \"activities\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/activities\"\n    },\n    \"branding\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/branding\"\n    },\n    \"resources\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/resources\"\n    },\n    \"passwordPolicies\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/passwordPolicies\"\n    },\n    \"userActivities\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/userActivities\"\n    },\n    \"signOnPolicies\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/signOnPolicies\"\n    },\n    \"keys\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/keys\"\n    },\n    \"templates\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/templates\"\n    },\n    \"notificationsSettings\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/notificationsSettings\"\n    },\n    \"schemas\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/schemas\"\n    },\n    \"gateways\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/gateways\"\n    },\n    \"capabilities\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/capabilities\"\n    },\n    \"activeIdentityCounts\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/activeIdentityCounts\"\n    },\n    \"propagation/plans\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/propagation/plans\"\n    },\n    \"propagation/stores\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/propagation/stores\"\n    },\n    \"propagation/revisions/id:latest\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/propagation/revisions/id:latest\"\n    },\n    \"billOfMaterials\" : {\n      \"href\" : \"https://api.pingone.eu/v1/environments/ebb93422-9819-4b88-a0d1-f0673f9e03d6/billOfMaterials\"\n    }\n  },\n  \"id\" : \"ebb93422-9819-4b88-a0d1-f0673f9e03d6\",\n  \"name\" : \"Administrators\",\n  \"description\" : \"This is the administrator environment created when the organization was provisioned.\",\n  \"organization\" : {\n    \"id\" : \"7cb1f212-681e-4a3c-b3e1-95493b526fae\"\n  },\n  \"type\" : \"PRODUCTION\",\n  \"region\" : \"EU\",\n  \"createdAt\" : \"2022-04-18T11:12:42.132Z\",\n  \"updatedAt\" : \"2022-04-18T11:12:42.207Z\",\n  \"license\" : {\n    \"id\" : \"6ce079e2-1983-4262-bf58-037e8af646c6\"\n  }\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/hal+json;charset=UTF-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "bcaba815-29aa-4a34-a96e-45d6b971110f"
            },
            {
              "name": "correlation-id",
              "value": "bcaba815-29aa-4a34-a96e-45d6b971110f"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "Q3SntF7BFiAFR3w="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1051,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
